Options -Indexes
DirectoryIndex index.html

RewriteEngine On
RewriteBase /

# Serve existing files/dirs directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all other requests to index.html
RewriteRule ^(.*)$ /index.html [L,QSA]
